/*
  Autor: Dominik Borek (xborek12)
  css pro stránku addTrip
*/

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding: 10px;
}

h1, h2, h3{
  color: white  !important;
}

p{
  color: white  !important;
  font-size: 18px
}

body{
  margin: 5% 0 5% 0; 
  background-color: #282c34 !important;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34  !important;
}

.App-link {
  color: #61dafb;
}

.App .Header-button {
  text-decoration: none; 
  font-size: 24px;
  color: white;
}

.trips-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  padding: 20px;
}

.trip-card {
  width: calc(25% - 32px);
  min-width: 250px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.2s;
}

.trip-card:hover {
  transform: scale(1.05);
}

.trip-image {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  aspect-ratio: 1 / 1;
}

.trip-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: left;
}

.trip-content h3 {
  margin: 0;
  font-size: 18px;
}

.trip-content p {
  margin: 0px 0;
  font-size: 14px;
}

h2 {
  color: white;
  text-align: left;
  margin-left: 5%;
}

.dialog-title{
  color: black;
}

.trip-content p {
  margin: 0px 0;
  font-size: 14px;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('../fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.photo-item img {
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 8px; 
}

.photo-item {
  display: block;
}

.photo-gallery img {
  max-width: 60%;
  height: auto; 
}

.smaller-photo img {
  max-width: 60%;
  height: auto;
}

.VisitedMap{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  padding-top: 5%
}

.date-range-container {
  display: flex;
  justify-content: space-between;
}

.date-range-container .form-input {
  width: 100%;
}

.allMapButton {
  color: black; 
  font-size: 1.5rem;
  padding: 5px 20px;
  border: 2px solid blue;
  border-radius: 25px;
  cursor: pointer;
  margin: 20px 10px 0 auto;
  text-align: center;
  display: block;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100px;
  max-width: 80%;
}

.allMapButton:hover {
  background-color: #87cefa;
  border-color: darkblue; 
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 1.8rem;
  color: black;
}

.trip-form-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: #3434348a;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff;
}

.trip-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

label {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.form-input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: border-color 0.3s;
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.date-range-container {
  display: flex;
  gap: 20px;
}

.add-btn{
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: lightblue;
}

.submit-btn{
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: lightgreen;
}

.remove-btn{
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: lightcoral;
}

.add-photo-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.add-photo-btn:hover {
  background-color: #0056b3;
}

.add-photo-btn input {
  display: none;
}

.add-photo-btn span {
  margin-left: 10px;
}

.add-photo-btn svg {
  margin-right: 5px;
}

.photos-preview {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.photo-item img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.photo-item button {
  background-color: transparent;
  border: none;
  color: #dc3545;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 5px;
}

.photo-item button:hover {
  color: #c82333;
}

.MuiModal-root {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.MuiBox-root {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.MuiTypography-root {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}
